html, body {
  height: 100%;
}

body {
  background-color: #00609d;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 900px) {
    border-radius: 0;
  }
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;

  @media (max-width: 600px) {
    align-items: flex-start;
  }

  @media (max-height: 600px) {
    align-items: flex-start;
  }
}

.toasted-container.msg-toast-container {

  &.top-right {
    top: 20px;
    right: 30px;
  }
}

.slide-fade-vertical-enter-active,
.slide-fade-vertical-leave-active {
  transition: all 0.5s ease-out;
  max-height: 100px;
  overflow: hidden;
}

.slide-fade-vertical-enter,
.slide-fade-vertical-leave-to {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
